.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/
.vscode/
*.ips
Examples/*/.build
Package.resolved
.build-android-x86_64
.build-host

# Tools are packages of their own
Tools/*/.build
*.dia
